.container {
  margin-left: 8px;
}

.container .mat-form-field {
  margin: 10px;;
  width: 220px;
}

.container form {
  margin-bottom: 20px;
}

.container form > * {
  margin: 5px 0;
}

div {
  margin:10px;
}

