<mat-card>
  <mat-card-header>
    <mat-card-title>My Profile View</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="user.email" type="email" placeholder="Email" name="Email" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="user.birthdate" type="date" placeholder="Birthday" name="Birthday">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="editUserDetails()" class='button-confirmation'>
      Edit
    </button>
  </mat-card-actions>
</mat-card>